header#masthead
{
	 height: 50px;
   background-color: #fff;
}

header h1 {
	display: none;
}

header h4 {
	display: none;
}

html {
	height: 100%;
}

body {
  background-color: #eee;
  height: 100%;
}

body > .container {
  background-color: #fff;
  min-height: 100%;
}

#content {
  min-height: 100%;
}

.navbar-top {
  margin-bottom: 0px;
}

#primarynav .navbar-inner {
	background-color: blue;
	background-image: none;
}

#primarynav li.active a {
	background-color: #8ae;
	color: black;
}

#primarynav a {
  color: white;
	background-color: #679;
}

#primarynav a:hover {
  color: blue;
}

#loadavg24h { min-height: 155px; }
.axis {
  font: 10px sans-serif;
}

.axis text {
  -webkit-transition: fill-opacity 250ms linear;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.horizon {
  border-bottom: solid 1px #000;
  overflow: hidden;
  position: relative;
}

.horizon {
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}

.horizon + .horizon {
  border-top: none;
}

.horizon canvas {
  display: block;
}

.horizon .title,
.horizon .value {
  bottom: 0;
  line-height: 30px;
  margin: 0 6px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  white-space: nowrap;
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 0;
}

.line {
  background: #000;
  opacity: .2;
  z-index: 2;
}

