Django>=2.2.12,<3

pytz==2020.1
httplib2==0.18.1
feedparser==5.2.1

chardet==3.0.4

# https://urllib3.readthedocs.io/en/latest/user-guide.html#ssl-py2
pyOpenSSL==19.1.0
idna==2.10
urllib3==1.25.10  # sentry-sdk
certifi==2020.6.20  # sentry-sdk
cryptography==3.0
asn1crypto==1.4.0  # for pyOpenSSL
cffi==1.14.1  # for pyOpenSSL

requests==2.24.0
django-feedparser==0.2.1
Markdown==3.2.2 # pyup: < 3
psycopg2==2.8.5
versiontools==1.9.1
statsd==3.3.0
cssselect==1.1.0
lxml==4.5.2
funcsigs==1.0.2
sure==1.4.11
ipdb==0.13.3
extras==1.0.0
python-mimeparse==1.6.0
fixtures==3.0.0
testtools==2.4.0
testscenarios==0.5.0
python-subunit==1.4.0
webencodings==0.5.1
coverage==5.2.1
pep8==1.7.1
pyflakes==2.2.0
mccabe==0.6.1
pycodestyle==2.6.0
configparser==5.0.0
importlib-metadata==1.7.0  # for flake8
zipp==3.1.0  # for flake8
flake8==3.8.3
editdistance==0.5.3
astroid==2.4.2
pylint==2.5.3
ipaddress==1.0.23
text-unidecode==1.3
Faker==4.1.1
factory_boy==2.12.0
ldap3==2.8

sqlparse==0.3.1
gunicorn==20.0.4

# boto3 deps
s3transfer==0.3.3
jmespath==0.10.0

botocore>=1.15.0,<1.18.0
boto3>=1.12.0,<1.15.0

six==1.15.0
python-dateutil==2.8.1
pyasn1==0.4.8
ndg-httpsclient==0.5.1

djangowind==1.2.3
django-appconf==1.0.4
rcssmin==1.0.6
rjsmin==1.1.0
django-compressor==2.4
django-statsd-mozilla==0.4.0
contextlib2==0.6.0.post1
raven==6.10.0
sentry-sdk==0.16.4
django-bootstrap3==14.1.0
django-bootstrap-form==3.4
django-debug-toolbar==2.2
django-smoketest==1.1.2

django-waffle==1.0.0
django-stagingcontext==0.1.0
django-markwhat==1.6.2
django-impersonate==1.5.1
django-storages==1.9.1
django-ga-context==0.1.0
django-cacheds3storage==0.2.2
django-smtp-ssl==1.0

djangorestframework==3.11.1
Willow==1.4
django-modelcluster==5.0.2
django-taggit==1.3.0 # pyup: < 1.0.0
Unidecode==1.1.1
django-treebeard==4.3.1

Pillow==7.2.0
beautifulsoup4==4.9.1

html5lib==1.1

anyjson==0.3.3
vine==1.3.0
billiard==3.6.3.0
kombu>=3.0.37,<4
amqp==2.6.1
amqplib==1.0.2

ccnmtlsettings==1.8.4

pbr==5.4.5
PyYAML>=3.10.0 # MIT
stevedore>=1.20.0 # Apache-2.0
bandit==1.6.2

entrypoints==0.3
