{% extends 'base.html' %}

{% block content %}

<form action="." method="post" class="form-horizontal">
	<legend>Add Server</legend>

	<p><b>Helpful Reminder:</> The CUIT network registration form is
	here: <a href="http://www.columbia.edu/cgi-bin/dns.pl?mode=add">http://www.columbia.edu/cgi-bin/dns.pl?mode=add</a>.</p>

	<div class="control-group">
		<label class="control-label" for="name">Name</label>
		<div class="controls">
			<input type="text" name="name" id="name" class="form-control"/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="primary_function">Primary Function</label>
		<div class="controls">
			<textarea name="primary_function" id="primary_function" rows="3"
			class="input-xxlarge form-control"></textarea>
		</div>
	</div>
	<div class="control-group">
		  <label class="control-label" for="ec2_instance_id">EC2 Instance ID</label>
		  <div class="controls">
			    <input type="text" name="ec2_instance_id" id="ec2_instance_id" class="form-control"/>
		  </div>
	</div>
	<div class="control-group">
		<label class="control-label">Interfaces</label>
		<div class="controls">
			<input type="text" name="ip0" placeholder="IP Address " class="form-control"/>
			<input type="text" name="mac0" placeholder="MAC address" class="form-control"/><br />
			<input type="text" name="ip1" placeholder="IP Address" class="form-control"/>
			<input type="text" name="mac1" placeholder="MAC address" class="form-control"/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Location</label>
		<div class="controls">
			<input type="text" name="location" id="location-input" class="form-control"
data-provide="typeahead"
data-items="4"
data-source='[{% for location in all_locations %}"{{location.name}}"{% if not forloop.last %},{% endif %}{% endfor %}]'
/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">OS</label>
		<div class="controls">
		    <input type="text" name="operating_system" placeholder="Family: Version"
               class="form-control"
data-provide="typeahead"
data-items="4"
data-source='[{% for os in all_operating_systems %}"{{os.family.name}}: {{os.version}}"{% if not forloop.last %},{% endif %}{% endfor %}]'

/>

		<span class="help-inline">eg: "Linux: Ubuntu 12.04"</span>
		</div>
	</div>
	<div class="control-group">
	<label class="control-label">Memory</label>
	<div class="controls">
		<input type="text" name="memory" class="form-control" />
		</div>
	</div>
	<div class="control-group">
	<label class="control-label">Swap</label>
	<div class="controls">
		<input type="text" name="swap" class="form-control"/>
	</div>
	</div>

	<div class="control-group">
	<label class="control-label">Disk</label>
	<div class="controls">
		<input type="text" name="disk" class="form-control"/>
	</div>
	</div>
	<div class="control-group">
	<label class="control-label">Notes</label>
	<div class="controls">
		<textarea name="notes" rows="3" class="input-xxlarge form-control"></textarea>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="name">Graphite Name</label>
		<div class="controls">
			<input type="text" name="graphite_name" id="graphite_name" class="form-control"/>
			<span class="help-inline">key for Graphite graphs.</span>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="contact">Primary Contact</label>
		<div class="controls">
			<input type="text" name="contact" class="form-control"
						 value="{{request.user.first_name}}" id="contact" />
			<span class="help-inline">you can add more than one (comma separated)</span>
		</div>
	</div>

	
	<div class="form-actions">
		<input type="submit" value="add" class="btn btn-primary" />
	</div>
</form>


{% endblock %}
