{% extends 'base.html' %}
{% block content %}

<h1>Alias: {{ object.hostname }}</h1>
{% if request.user.is_staff %}
<a href="/alias/{{object.id}}/edit/">edit</a>
{% endif %}
{% ifequal object.status "deprecated" %}
<div class="alert alert-error">
<h2>Deprecated</h2>

<p>This alias has been deprecated.</p>

</div>
{% endifequal %}

<table class="table table-striped table-condensed table-bordered">
	<tr>
		<td>description</td>
		<td>{{ object.description }}</td>
	</tr>

{% if object.administrative_info %}
	<tr>
		<td>Administrative Info</td>
		<td>{{ object.administrative_info }}</td>
	</tr>
{% endif %}

	<tr>
		<td>server</td>
		<td><a href="/server/{{object.ip_address.server.id}}/">{{object.ip_address.server.name}}</a></td>
	</tr>

</table>

{% if object.can_request_dns_change %}
{% if request.user.is_staff %}
<a href="#requestAlias" role="button" class="btn" data-toggle="modal" data-target="#requestAlias">Request Alias Change</a>

	<form action="request_alias_change/" method="post">
		<div class="modal fade" id="requestAlias" tabindex="-1"
				 role="dialog" aria-labelledby="myModalLabel"
				 aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel1">Request Alias Change for {{object.hostname}}</h3>
  </div>
  <div class="modal-body">
		<p class="info">This will send an email to hostmaster with the
		request. It may take a couple business days for the request to go
		through. Once it does, please come back and update the status of
		this alias from 'pending' to 'active'. If you just want to update
		the record and not actually email hostmaster, use the "edit" link
		above instead.</p>
			
		<label>New Server
			<select name="new_ipaddress">
				{% for server in all_servers %}
          {% for ip in server.ipaddress_set.all %}
				    {% if ip.id == object.ip_address.id %}
              {# skip current value #}
            {% else %}
              <option value="{{ip.id}}">{{server.name}} [{{ip.ipv4}}]</option>
            {% endif %}
          {% endfor %}
				{% endfor %}
			</select>
		</label>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Request Alias Change</button>
  </div>
</div>
</div>
</div>
	</form>

{% endif %}
{% endif %}

{% if request.user.is_staff %}
    <a href="#changeAlias" role="button" class="btn" data-toggle="modal" data-target="#changeAlias">Change Alias</a>

	  <form action="{% url 'alias-change' object.id %}" method="post">
		    <div class="modal fade" id="changeAlias" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			      <div class="modal-dialog">
				        <div class="modal-content">
					          <div class="modal-header">
						            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel1">Change Alias {{object.hostname}}</h3>
                    </div>
                    <div class="modal-body">
		                    <p class="info">This will just change the entry for the alias here. It does not send a request to hostmaster. Only use this for Plexus internal housekeeping.</p>
			                  
		                    <label>New Server
			                      <select name="new_ipaddress">
				                        {% for server in all_servers %}
                                    {% for ip in server.ipaddress_set.all %}
				                                {% if ip.id == object.ip_address.id %}
                                            {# skip current value #}
                                        {% else %}
                                            <option value="{{ip.id}}">{{server.name}} [{{ip.ipv4}}]</option>
                                        {% endif %}
                                    {% endfor %}
				                        {% endfor %}
			                      </select>
		                    </label>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        <button type="submit" class="btn btn-primary">Alias Change</button>
                    </div>
                </div>
            </div>
        </div>
	  </form>

{% endif %}


{% ifequal object.status "pending" %}
<div class="alert">
<form action="confirm/" method="post" class="form-inline">
This alias is pending. 
	<input type="submit" class="btn btn-primary" value="Change to Active" />
</form>

<form action="delete/" method="post" class="form-inline">
	<input type="submit" class="btn btn-danger" value="Cancel this Alias Request">
</form>
</div>
{% endifequal %}
 
{% if object.applicationalias_set.count %}
<p>This alias is associated with the following application(s):</p>
<ul>
	{% for aa in object.applicationalias_set.all %}
	<li><a href="/application/{{aa.application.id}}/">{{aa.application.name}}</a></li>
	{% endfor %}
</ul>
{% else %}
<form action="associate_with_application/" method="post" class="form form-inline">
	<label>Associate this alias with an application:
		<select name="application">
			{% for application in all_applications %}
			<option value="{{application.id}}">{{application.name}}</option>
			{% endfor %}
		</select>
	</label>
	<input type="submit" class="btn btn-primary" value="associate" />
</form>
{% endif %}


{% endblock %}
