{% extends 'base.html' %}
{% load plexustags %}

{% block bodyattributes %}data-spy="scroll" data-target="#sidenav"{% endblock %}

{% block content %}

<div id="details" class="row detail">
    <div class="col-md-10">

        <div class="detail-header">
            <h1>{{ object.name }}</h1> 
        </div>

        {% if object.deprecated %}
            <div class="alert alert-error">
                <h2>Deprecated</h2>
                <p>This application has been deprecated.</p>
            </div>
        {% endif %}

        {% with object.servers as servers %}
        <div class="card">
            <div class="card-header">Detail</div>
            <div class="card-body padding-0">
                <table class="table table-striped table-condensed">
                    <tr>
                        <td>Description</td>
                        <td>{{ object.description }}</td>
                    </tr>
                    <tr><td>Technology</td><td>{{ object.technology }}</td></tr>
                    <tr>
                        <td>Staging</td>
                        <td>
                            {% for server in servers.staging %}
                                <a href="{% url 'server-detail' server.id %}">
                                {{server.name}}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Production</td>
                        <td>
                            {% for server in servers.production %}
                                <a href="{% url 'server-detail' server.id %}">
                                {{server.name}}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% if object.sentry_name %}
                    <tr>
                        <td>Sentry</td>
                        <td><a href="https://sentry.io/columbia-ctl/{{object.sentry_name}}">View Errors</a></td>
                    </tr>
                    {% endif %}
                  {% if object.repo %}
                      <tr>
                          <td>Repo</td>
                          <td>{{object.repo}}</td>
                      </tr>
                  {% endif %}
                  {% if object.github_url %}
                      <tr>
                          <td>Github</td>
                          <td><a href="{{object.github_url}}">{{object.github_url}}</a></td>
                      </tr>
                  {% endif %}
                    <tr>
                        <td>Contacts</td>
                        <td>
                            {% for ac in object.applicationcontact_set.all %}
                                <a href="/contact/{{ac.contact.id}}/">{{ac.contact.name}}</a>
                                {% if request.user.is_staff %}
                                    [<a href="{% url 'delete-applicationcontact' ac.id %}">X</a>]
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% if object.applicationnote_set.exists %}
                        <td>Notes</td>
                        <td>
                        {% for note in object.application_notes %}
                            {{note.body}}
                            <span class="text-right text-muted">
                                - {{note.user.get_full_name}} @ {{note.created}}
                            </span>
                        {% endfor %}
                        </td>
                    {% endif %}
                </table>
            </div>
        </div>
        {% endwith %}

        {% if object.applicationalias_set.count %}
        <div class="card">
            <div id="aliases" class="card-header">Alias(es)</div>
            <div class="card-body">
                <ul>
                    {% for aa in object.applicationalias_set.all %}
                        <li><a href="/alias/{{aa.alias.id}}/">{{aa.alias.hostname}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% if not object.deprecated %}
            <div class="card">
                <div id="renewal" class="card-header">Renewal</div>
                <div class="card-body">
                    {% if object.valid_renewal %}
                        <p>Current renewal is good until {{object.current_renewal.end}}</p>
                    {% else %}
                        <p>This application does not have a valid renewal</p>
                        <form action="{% url 'add-application-renewal' object.pk %}" class="form" method="post">
                            <div class="form-group">
                                <label class="control-label" for="id_end">End Date</label>
                                <input type="text" name="end" placeholder="YYYY-MM-DD" class="form-control" id="id_end" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="id_notes">Notes</label>
                                <textarea name="notes" class="form-control" id="id_end"></textarea>
                            </div>

                            <p>By creating a new renewal, you are asserting that the
                                developer responsible for maintaining the
                                application, LD/PM, client, and senior management
                                have all agreed that this application will be maintained
                                and used until the renewal expires.</p>

                            <input type="submit" class="btn btn-primary" />
                        </form>
                    {% endif %}

                    {% if object.renewal_set.exists %}
                        <table class="table table-striped table-condensed">
                            <tr><th>Start</th><th>End</th><th>User</th><th>Notes</th></tr>

                            {% for renewal in object.renewal_set.all %}
                                <tr>
                                    <td>{{renewal.start}}</td>
                                    <td>{{renewal.end}}</td>
                                    <td>{{renewal.user.get_full_name}}</td>
                                    <td>{{renewal.notes}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
            </div>

            <div class="card">
                <div id="graphs" class="card-header">Graphs</div>
                <div class="card-body">
                    {% if object.graphite_name %}
                        {% with graphite_base="https://graphite.ctl.columbia.edu/render/" %}
                        {% with graphite_name=object.graphite_name %}
                        {% with width=900 height=200 %}
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#daily" data-toggle="tab">Daily</a></li>
                                <li><a href="#weekly" data-toggle="tab">Weekly</a></li>
                                <li><a href="#monthly" data-toggle="tab">Monthly</a></li>
                                <li><a href="#yearly" data-toggle="tab">Yearly</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="daily">
                                    {% with from="-24hours" %}
                                        {% include "main/application_graphs.html" %}
                                    {% endwith %}
                                </div>
                                <div class="tab-pane" id="weekly">
                                    {% with from="-7days" %}
                                        {% include "main/application_graphs.html" %}
                                    {% endwith %}
                                </div>
                                <div class="tab-pane" id="monthly">
                                    {% with from="-4weeks" %}
                                        {% include "main/application_graphs.html" %}
                                    {% endwith %}
                                </div>
                                <div class="tab-pane" id="yearly">
                                    {% with from="-1years" %}
                                        {% include "main/application_graphs.html" %}
                                    {% endwith %}
                                </div>
                            </div>
                        {% endwith %}{% endwith %}{% endwith %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>

   <div class="col-md-2">
        <nav id="sidenav" class="hidden-print hidden-sm hidden-xs affix">
            <ul class="nav" >
                <li class="active">
                    <a href="#details">Detail</a>
                    {% if request.user.is_staff %} 
                    <ul class="nav">
                        <li>
                            <a href="/application/{{object.id}}/edit/">Edit Detail</a>
                        </li>
                        <li>
                            <a href="#addContact" data-toggle="modal" data-target="#addContact">Add Contact</a>
                        </li>
                        <li>
                            <a href="#add-note" data-toggle="modal" data-target="#add-note">Add Note</a>
                        </li>
                    </ul>
                    {% endif %}
                </li>
                {% if object.applicationalias_set.count %}
                <li>
                    <a href="#aliases">Aliases</a>
                </li>
                {% endif %}
                {% if not object.deprecated %}
                    <li>
                        <a href="#renewal">Renewal</a>
                    </li>
                    <li>
                        <a href="#graphs">Graphs</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

{% if request.user.is_staff %}
    <form action="{% url 'add-application-note' object.id %}" method="post">
        <div class="modal fade" id="add-note" tabindex="-1" role="dialog" aria-labelledby="add-note-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="add-note-label">Add Note</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <textarea name="body" class="form-control" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        <button class="btn btn-primary">Add Note</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% if not object.deprecated %}
        <form action="{% url 'add-application-contact' object.id %}" method="post">
            <div class="modal fade" id="addContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">Add Contact</h3>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label>Contact
                                    <input type="text" name="contact" placeholder="contact" class="form-control" />
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                            <button class="btn btn-primary">Add Contact</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
{% endif %}
{% endblock %}

{% block js %}
<script src="{{STATIC_URL}}js/d3.v2.min.js"></script>
<script src="{{STATIC_URL}}js/smoketests.js"></script>
<script>
(function () {
  window.makesmoketests("#smoketests", "{{object.graphite_name}}");
}());
</script>

{% endblock %}
