{% extends 'base.html' %}
{% load feeds %}
{% load markup %}

{% block content %}

<h1>Application: {{ object.name }}</h1>
{% if request.user.is_staff %}
<a href="/application/{{object.id}}/edit/">edit</a>
{% endif %}

<table class="table table-striped table-condensed table-bordered">
	<tr>
		<td>description</td>
		<td>{{ object.description }}</td>
	</tr>
	<tr><td>technology</td><td>{{ object.technology }}</td></tr>
	{% if object.pmt_id %}
	<tr>
		<td>PMT</td>
		<td>
			<a href="https://pmt.ccnmtl.columbia.edu/project/{{object.pmt_id}}/">Project Page</a>
			[<a href="https://pmt.ccnmtl.columbia.edu/project/{{object.pmt_id}}/#add-bug">report bug</a>]
			[<a href="https://pmt.ccnmtl.columbia.edu/project/{{object.pmt_id}}/#add-action-item">add
			action item</a>]
		</td>
	</tr>
	{% endif %}
	{% if object.sentry_name %}
	<tr>
		<td>Sentry</td>
		<td><a href="https://sentry.ccnmtl.columbia.edu/{{object.sentry_name}}">View Errors</a></td>
	</tr>
	{% endif %}
	<tr>
		<td>Contacts</td>
		<td>
			{% for ac in object.applicationcontact_set.all %}
			<a href="/contact/{{ac.contact.id}}/">{{ac.contact.name}}</a>
			{% endfor %}
		</td>
	</tr>

</table>

{% if object.applicationalias_set.count %}
<h2>Alias(es)</h2>
<ul>
{% for aa in object.applicationalias_set.all %}
<li><a href="/alias/{{aa.alias.id}}/">{{aa.alias.hostname}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if request.user.is_staff %}
<h2>Notes</h2>



<a href="#add-note" role="button" class="btn" data-toggle="modal" data-toggle="#add-note">Add Note</a>

<form action="{% url 'add-application-note' object.id %}" method="post">
	<div class="modal fade" id="add-note" tabindex="-1" role="dialog" aria-labelledby="add-note-label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="add-note-label">Add Note</h3>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<textarea name="body" class="form-control" rows="10"></textarea>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary">Add Note</button>
		</div>
	</div>
</div>
</div>
</form>

{% if object.applicationnote_set.exists %}
{% for note in object.application_notes %}
<div>
{{note.body|markdown}}
</div>
<p class="text-right text-muted">
- {{note.user.get_full_name}} @ {{note.created}}
</p>
{% endfor %}

{% endif %}


{% if object.graphite_name %}
<h2>Smoketests</h2>
<div id="smoketests">passed/run</div>

{% endif %}


<h2>Graphs</h2>
<ul class="nav nav-tabs">
  <li><a href="#daily" data-toggle="tab">Daily</a></li>
  <li><a href="#weekly" data-toggle="tab">Weekly</a></li>
  <li><a href="#monthly" data-toggle="tab">Monthly</a></li>
  <li><a href="#yearly" data-toggle="tab">Yearly</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="daily">
    <div id="graphs-daily"></div>
  </div>

  <div class="tab-pane" id="weekly">
    <div id="graphs-weekly"></div>
  </div>

  <div class="tab-pane" id="monthly">
    <div id="graphs-monthly"></div>
  </div>
  <div class="tab-pane" id="yearly">
    <div id="graphs-yearly"></div>
  </div>
</div>
{% endif %}

{% if object.pmt_id %}
<h2>Recent PMT Activity</h2>
{% parse_feed object.pmt_feed_url as pmt_feed %}
{% for item in pmt_feed.entries %}
<h4><a href="{{item.link}}">{{item.title}}</a></h4>
{{item.description|safe}}
{% endfor %}


{% endif %}


{% endblock %}

{% block js %}
{% if object.graphite_name %}
<script src="{{STATIC_URL}}js/d3.v2.min.js"></script>
<script src="{{STATIC_URL}}js/cubism.v1.min.js"></script>
<script src="{{STATIC_URL}}js/smoketests.js"></script>
<script src="{{STATIC_URL}}js/makegraphs.js"></script>
<script>
(function () {
  var width = $("#graphs-daily").width();
  window.makegraphs("#graphs-daily", "{{object.graphite_name}}", width, 1e5);
  window.makegraphs("#graphs-weekly", "{{object.graphite_name}}", width, 7e5);
  window.makegraphs("#graphs-monthly", "{{object.graphite_name}}", width, 30e5);
  window.makegraphs("#graphs-yearly", "{{object.graphite_name}}", width, 365e5);
  window.makesmoketests("#smoketests", "{{object.graphite_name}}");
}());
</script>
{% endif %}
{% endblock %}
