{% extends 'base.html' %}
{% load feedparser_tags %}
{% load markup %}

{% block content %}

    {% if object.deprecated %}
        <div class="alert alert-error">
            <h2>Deprecated</h2>

            <p>This application has been deprecated.</p>

        </div>
    {% endif %}

<h1>Application: {{ object.name }}</h1>
{% if request.user.is_staff %}
<a href="/application/{{object.id}}/edit/">edit</a>
{% endif %}

<table class="table table-striped table-condensed table-bordered">
	<tr>
		<td>description</td>
		<td>{{ object.description }}</td>
	</tr>
	<tr><td>technology</td><td>{{ object.technology }}</td></tr>
	{% if object.pmt_id %}
	<tr>
		<td>PMT</td>
		<td>
			<a href="https://pmt.ccnmtl.columbia.edu/project/{{object.pmt_id}}/">Project Page</a>
			[<a href="https://pmt.ccnmtl.columbia.edu/project/{{object.pmt_id}}/#add-bug">report bug</a>]
			[<a href="https://pmt.ccnmtl.columbia.edu/project/{{object.pmt_id}}/#add-action-item">add
			action item</a>]
		</td>
	</tr>
	{% endif %}
	{% if object.sentry_name %}
	<tr>
		<td>Sentry</td>
		<td><a href="https://sentry.io/columbia-ctl/{{object.sentry_name}}">View Errors</a></td>
	</tr>
	{% endif %}
  {% if object.repo %}
      <tr>
          <td>Repo</td>
          <td>{{object.repo}}</td>
      </tr>
  {% endif %}
  {% if object.github_url %}
      <tr>
          <td>Github</td>
          <td><a href="{{object.github_url}}">{{object.github_url}}</a></td>
      </tr>
  {% endif %}
	<tr>
		<td>Contacts</td>
		<td>
			{% for ac in object.applicationcontact_set.all %}
			    <a href="/contact/{{ac.contact.id}}/">{{ac.contact.name}}</a>
                {% if request.user.is_staff %}
                    [<a href="{% url 'delete-applicationcontact' ac.id %}">X</a>]
                {% endif %}
			{% endfor %}
		</td>
	</tr>

</table>

{% if not object.deprecated %}
    {% if request.user.is_staff %}
        <a href="#addContact" role="button" class="btn" data-toggle="modal" data-target="#addContact">Add Contact</a>
        <form action="{% url 'add-application-contact' object.id %}" method="post">
            <div class="modal fade" id="addContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">Add Contact</h3>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label>Contact
                                    <input type="text" name="contact" placeholder="contact" class="form-control" />
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                            <button class="btn btn-primary">Add Contact</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
{% endif %}

{% if object.applicationalias_set.count %}
    <h2>Alias(es)</h2>
    <ul>
        {% for aa in object.applicationalias_set.all %}
            <li><a href="/alias/{{aa.alias.id}}/">{{aa.alias.hostname}}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% if request.user.is_staff %}
    <h2>Notes</h2>



    <a href="#add-note" role="button" class="btn" data-toggle="modal" data-toggle="#add-note">Add Note</a>

    <form action="{% url 'add-application-note' object.id %}" method="post">
	    <div class="modal fade" id="add-note" tabindex="-1" role="dialog" aria-labelledby="add-note-label" aria-hidden="true">
		    <div class="modal-dialog">
			    <div class="modal-content">
		            <div class="modal-header">
			            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			            <h3 id="add-note-label">Add Note</h3>
		            </div>
		            <div class="modal-body">
			            <div class="form-group">
				            <textarea name="body" class="form-control" rows="10"></textarea>
			            </div>
		            </div>
		            <div class="modal-footer">
			            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			            <button class="btn btn-primary">Add Note</button>
		            </div>
	            </div>
            </div>
        </div>
    </form>

    {% if object.applicationnote_set.exists %}
        {% for note in object.application_notes %}
            <div>
                {{note.body|markdown}}
            </div>
            <p class="text-right text-muted">
                - {{note.user.get_full_name}} @ {{note.created}}
            </p>
        {% endfor %}
    {% endif %}

    {% if not object.deprecated %}

        <h2>Renewal(s)</h2>

        {% if object.valid_renewal %}
            <p>Current renewal is good until {{object.current_renewal.end}}</p>
        {% else %}
            <p>This application does not have a valid renewal</p>
            <form action="{% url 'add-application-renewal' object.pk %}" class="form" method="post">
                <div class="form-group">
                    <label class="control-label" for="id_end">End Date</label>
                    <input type="text" name="end" placeholder="YYYY-MM-DD" class="form-control" id="id_end" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="id_notes">Notes</label>
                    <textarea name="notes" class="form-control" id="id_end"></textarea>
                </div>

                <p>By creating a new renewal, you are asserting that the
                    developer responsible for maintaining the
                    application, LD/PM, client, and senior management
                    have all agreed that this application will be maintained
                    and used until the renewal expires.</p>
                
                <input type="submit" class="btn btn-primary" />
            </form>
        {% endif %}
        
        {% if object.renewal_set.exists %}
            <table class="table table-striped table-condensed">
                <tr><th>Start</th><th>End</th><th>User</th><th>Notes</th></tr>

                {% for renewal in object.renewal_set.all %}
                    <tr>
                        <td>{{renewal.start}}</td>
                        <td>{{renewal.end}}</td>
                        <td>{{renewal.user.get_full_name}}</td>
                        <td>{{renewal.notes|markdown}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        {% if object.graphite_name %}
            <h2>Graphs</h2>
            {% with graphite_base="https://graphite.ctl.columbia.edu/render/" %}
                {% with graphite_name=object.graphite_name %}
                    {% with width=900 height=200 %}
                        <ul class="nav nav-tabs">
                            <li><a href="#daily" data-toggle="tab">Daily</a></li>
                            <li><a href="#weekly" data-toggle="tab">Weekly</a></li>
                            <li><a href="#monthly" data-toggle="tab">Monthly</a></li>
                            <li><a href="#yearly" data-toggle="tab">Yearly</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="daily">
                                {% with from="-24hours" %}
                                    {% include "main/application_graphs.html" %}
                                {% endwith %}
                            </div>
                            <div class="tab-pane" id="weekly">
                                {% with from="-7days" %}
                                    {% include "main/application_graphs.html" %}
                                {% endwith %}
                            </div>
                            <div class="tab-pane" id="monthly">
                                {% with from="-4weeks" %}
                                    {% include "main/application_graphs.html" %}
                                {% endwith %}
                            </div>
                            <div class="tab-pane" id="yearly">
                                {% with from="-1years" %}
                                    {% include "main/application_graphs.html" %}
                                {% endwith %}
                            </div>
                        </div>
                    {% endwith %}
                {% endwith %}
            {% endwith %}
        {% endif %}
    {% endif %}

    {% if not object.deprecated %}
        {% if object.pmt_id %}
            <h2>Recent PMT Activity</h2>
            {% feedparser_render object.pmt_feed_url template='main/feed_view.html' %}
        {% endif %}
    {% endif %}

{% endif %}

{% endblock %}

{% block js %}
<script src="{{STATIC_URL}}js/d3.v2.min.js"></script>
<script src="{{STATIC_URL}}js/smoketests.js"></script>
<script>
(function () {
  window.makesmoketests("#smoketests", "{{object.graphite_name}}");
}());
</script>

{% endblock %}
