{% extends 'base.html' %}
{% block content %}

<h1>Contact: {{ object.name }}</h1>
{% if request.user.is_staff %}
<a href="/contact/{{object.id}}/edit/">edit</a>
{% endif %}

<p><a href="dashboard/">Dashboard View</a></p>

<table class="table table-striped table-condensed table-bordered">
	<tr>
		<td>email</td>
		<td>{{ object.email }}</td>
	</tr>

	<tr>
		<td>phone</td>
		<td>{{ object.phone }}</td>
	</tr>

	<tr>
		<td>Responsible for:</td>
		<td>
			<ul>Servers
			{% for server in object.active_servers %}
			<li><a href="{% url 'server-detail' server.id %}">{{server.name}}</a></li>
			{% endfor %}
			</ul>

			<ul>Applications
			{% for application in object.active_applications %}
			<li><a href="{% url 'application-detail' application.id %}">{{application.name}}</a></li>
			{% endfor %}
			</ul>
		</td>
	</tr>

</table> 

{% endblock %}
