{% extends 'base.html' %}

{% block content %}

<h1>Dashboard for {{contact.name}}</h1>


<ul class="nav nav-tabs">
  <li><a href="#daily" data-toggle="tab">Daily</a></li>
  <li><a href="#weekly" data-toggle="tab">Weekly</a></li>
  <li><a href="#monthly" data-toggle="tab">Monthly</a></li>
  <li><a href="#yearly" data-toggle="tab">Yearly</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="daily">
    <div id="graphs-daily"></div>
  </div>
  <div class="tab-pane" id="weekly">
    <div id="graphs-weekly"></div>
  </div>
  <div class="tab-pane" id="monthly">
    <div id="graphs-monthly"></div>
  </div>
  <div class="tab-pane" id="yearly">
   <div id="graphs-yearly"></div>
  </div>
</div>

{% endblock %}


{% block js %}
<script src="/site_media/js/d3.v2.min.js"></script>
<script src="/site_media/js/cubism.v1.min.js"></script>
<script>

var serverMetrics = function(graphiteName, serverName) {
  var metric_base = "ccnmtl.server." + graphiteName;
    
  return [
    {
      metric: metric_base + ".cpu.load_average.1_minute",
      alias: "" + serverName + " " + "Load Avg"
    },
    {
      metric: metric_base + ".memory.MemFree.percent",
      alias: serverName + " " + "Free Mem"
    },
    {
      metric: "nonNegativeDerivative(" + metric_base + ".network.eth0.receive.byte_count)",
      alias: serverName + " " + "Eth0 in"
    },
    {
      metric: "nonNegativeDerivative(" + metric_base + ".network.eth0.transmit.byte_count)",
      alias: "Eth0 out"
    },
    {
      metric: "nonNegativeDerivative(" + metric_base + ".vmstat.swap.in)",
      alias: serverName + " " + "Swap in"
    },
    {
      metric: "nonNegativeDerivative(" + metric_base + ".vmstat.swap.out)",
      alias: "Swap out"
    }
  ];
};

var joinServerMetrics = function(metrics) {
   // turns each sequence of:
   //     [load_avg, mem, eth_in, eth_out, swap_in, swap_out]
   // into:
   //     [load_avg, eth_in + eth_out, swap_in + swap_out]
   // ie, it combines network in/out and swap in/out
   var results = [];
   for (var i=0; i < metrics.length; i++) {
     if (i % 6 == 0) {
       results.push(metrics[i]);
     } else {
       if (i % 6 == 3 || i % 6 == 5)
       results.push(metrics[i - 1].add(metrics[i]));
     }
   }
   return results;
};

var applicationMetrics = function(graphiteName, applicationName) {
  var counter_base = "ccnmtl.app.counters." + graphiteName; 
  var timer_base = "ccnmtl.app.timers." + graphiteName;
  
  return [
    {
      metric: counter_base + ".response.200",
      alias: applicationName + " " + "Requests"
    },
    {
      metric: timer_base + ".view.GET.mean",
      alias: applicationName + " " + "request time (mean)"
    },
    {
      metric: counter_base + ".response.500",
      alias: applicationName + " " + "500s"
    },
    {
      metric: counter_base + ".response.404",
      alias: applicationName + " " + "404s"
    }
  ];
};

var makegraphs = function (el, size, step) {
  var context = cubism.context(), // a default context
      graphite = context.graphite("");
  
  context.size(size).step(step);

  var server_metric_defs = [];
{% for ac in contact.servercontact_set.all %}
{% if ac.server.graphite_name %}
  server_metric_defs = server_metric_defs.concat(serverMetrics("{{ac.server.graphite_name}}", "{{ac.server.name}}"));
{% endif %}
{% endfor %}
  var application_metric_defs = [];
{% for ac in contact.applicationcontact_set.all %}
{% if ac.application.graphite_name %}
  application_metric_defs = application_metric_defs.concat(applicationMetrics("{{ac.application.graphite_name}}","{{ac.application.name}}"));
{% endif %}
{% endfor %}

  var gmetric = function(metric_def) {
     return graphite.metric(metric_def.metric).alias(metric_def.alias);
  };

  var metrics = joinServerMetrics(server_metric_defs.map(gmetric))
    .concat(application_metric_defs.map(gmetric));
  
  d3.select(el).call(function(div) {
    div.append("div")
        .attr("class", "axis")
        .call(context.axis().orient("top"));
  
    div.selectAll(".horizon")
      .data(metrics)
      .enter().append("div")
        .attr("class", "horizon")
        
        .call(context.horizon()
          .colors(["#08519c", "#*82bd", "#6baed6", "#fee6ce", "#fdae6b", "#e6550d" ])
          .height(25));
  });
};

(function () {
  var width = $("#graphs-daily").width();
  window.makegraphs("#graphs-daily", width, 1e5);
  window.makegraphs("#graphs-weekly", width, 7e5);
  window.makegraphs("#graphs-monthly", width, 30e5);
  window.makegraphs("#graphs-yearly", width, 365e5);
}());
</script>
{% endblock %}
