{% extends 'base.html' %}
{% load inplace_edit %}
{% block content %}

<h1>Contact: {% inplace_edit "contact.name" %}</h1>
{% if request.user.is_staff %}
<a href="/admin/main/contact/{{contact.id}}/">edit</a>
{% endif %}

<p><a href="dashboard/">Dashboard View</a></p>

<table class="table table-striped table-condensed table-bordered">
	<tr>
		<td>email</td>
		<td>{% inplace_edit "contact.email" %}</td>
	</tr>

	<tr>
		<td>phone</td>
		<td>{% inplace_edit "contact.phone" %}</td>
	</tr>

	<tr>
		<td>Responsible for:</td>
		<td>
			<ul>Servers
			{% for ac in contact.servercontact_set.all %}
			<li><a href="/server/{{ac.server.id}}/">{{ac.server.name}}</a></li>
			{% endfor %}
			</ul>

			<ul>Applications
			{% for ac in contact.applicationcontact_set.all %}
			<li><a href="/application/{{ac.application.id}}/">{{ac.application.name}}</a></li>
			{% endfor %}
			</ul>

			<ul>Aliases
			{% for ac in contact.aliascontact_set.all %}
			<li><a href="/alias/{{ac.alias.id}}/">{{ac.alias.hostname}}</a></li>
			{% endfor %}
			</ul>
		</td>
	</tr>

</table> 

{% endblock %}
