{% extends 'base.html' %}
{% load static plexustags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'js/lib/tablesorter/tablesorter.css' %}">
{% endblock %}


{% block js %}
<script src="{% static 'js/lib/tablesorter/jquery.tablesorter.min.js' %}"></script>
<script>
jQuery(document).ready(function () {
    jQuery('.tablesorter').tablesorter({
        sortList: [[0,0]],
        headerTemplate: '{content} {icon}',
        headers: {
            '.nosort': {
                sorter: false
            },
        }
    });
});
</script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-3">
        <div class="jumbotron text-center" style="height: 270px">
            <h2>Managed<br />Servers</h2>
        </div>
    </div>
    <div class="col-md-3">
        <div class="jumbotron text-center" style="height: 270px">
            <h1>{{servers|length}}</h1>
            <h3>servers</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="jumbotron text-center" style="height: 270px">
            <h1>{{applications|length}}</h1>
            <h3>applications</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Raw Logs</div>
            <div class="panel-body">
                {% for grainlog in logs %}
                    <li><a href="{% url 'grainlog-detail' grainlog.id %}">{{grainlog.created}}</a></li>
                {% empty %}
                    <li>No grainlogs yet.</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="tablesorter tablesorter-bootstrap table table-bordered table-striped table-condensed">
        <thead>
            <tr class="tab">
                <th>Name</th>
                <th>Environment</th>
                <th>Primary Function</th>
                <th>Roles</th>
                <th style="width: 25%">Applications</th>
            </tr>
        </thead>
        <tbody>
            {% for server in servers %}
                <tr>
                    <td><a href="{% url 'managed-server-detail' server.name %}">{{server.name}}</a></td>
                    <td>{{server.d.environment}}</td>
                    <td>
                        {% if 'nginx' in server.d.roles %}
                            Proxy
                        {% else %}{% if 'celery' in server.d.roles %}
                            Queue Tasks
                        {% else %}{% if 'django' in server.d.roles %}
                            Django
                        {% else %}{% if 'php-fpm' in server.d.roles or 'lamp' in server.d.roles %}
                            LAMP
                        {% else %}{% if 'backups' in server.d.roles %}
                            Backups
                        {% else %}{% if 'chimney' in server.d.roles or 'graphite' in server.d.roles %}
                            Monitoring
                        {% else %}{% if 'solr' in server.d.roles %}
                            Solr & Queuing
                        {% else %}{% if 'saltmaster' in server.d.roles %}
                            Configuration
                        {% else %}{% if 'jenkins' in server.d.roles %}
                            CI
                        {% else %}{% if 'vault' in server.d.roles %}
                            Security
                        {% else %}{% if 'docker' in server.d.roles %}
                            Docker
                        {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
                    </td>
                    <td>
                        {% for role in server.d.roles|dictsort:0 %}
                            {{role}}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if server.d.apps|length > 0 %}
                            {% for app_name in server.d.apps|dictsort:0 %}
                                {% app_by_graphite_name app_name as app %}
                                {% if app %}
                                    <a href="{% url 'application-detail' app.id %}">{{app}}</a>{% if not forloop.last %}, {% endif %}
                                {% else %}
                                    {{app_name}}{% if not forloop.last %}, {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            <tr>
        </tbody>
    </table>
</div>
{% endblock %}
