{% extends 'base.html' %}

{% block content %}

<h1>Server: {{server.name}}</h1>
{% if request.user.is_staff %}
<a href="/admin/main/server/{{server.id}}/">edit</a>
{% endif %}

{% if server.deprecated %}
<div class="alert alert-error">
<h2>Deprecated</h2>

<p>This server has been deprecated.</p>

</div>
{% endif %}

<table class="table table-striped table-condensed table-bordered">
	<tr>
		<td>primary function</td>
		<td>{{server.primary_function}}</td>
	</tr>
	<tr><td>ip addresses</td>
		<td>
			{% for ip in server.ipaddress_set.all %}
			<code>{{ip.ipv4}}</code>{% if ip.mac_addr %} [<code>{{ip.mac_addr}}</code>]{% endif %}
			{% endfor %}
</td></tr>
	<tr><td>location</td><td>{% if server.virtual %}
				[Virtual: {% for vm in server.dom_u.all %}<a href="/server/{{vm.dom_0.id}}">{{vm.dom_0.name}}</a>{% endfor %}]
				{% else %}
				{{server.location.name}}
				{% endif %}</td></tr>
	<tr><td>OS</td><td><a href="/os/{{server.operating_system.family.id}}/">{{server.operating_system.family.name}}</a>
				<a href="/os/{{server.operating_system.family.id}}/{{server.operating_system.id}}/">{{server.operating_system.version}}</a></td></tr>
	<tr><td>mem</td><td>{{server.memory}}{% if server.swap %} [{{server.swap}}]{% endif %}</td></tr>
	<tr><td>disk</td><td>{{server.disk}}</td></tr>
	<tr><td>notes</td><td>{{server.notes}}</td></tr>
	{% if server.sentry_name %}
	<tr>
		<td>Sentry</td>
		<td><a href="http://sentry.ccnmtl.columbia.edu/sentry/?server_name={{server.sentry_name}}&amp;site=">View Errors</a></td>
	</tr>
	{% endif %}

	{% if server.munin_name %}
	<tr>
		<td>Munin</td>
		<td><a href="http://munin.ccnmtl.columbia.edu/ccnmtl.columbia.edu/{{server.munin_name}}/index.html">View Munin Graphs</a></td>
	</tr>
	{% endif %}

	<tr>
		<td>Contacts</td>
		<td>
			{% for ac in server.servercontact_set.all %}
			<a href="/contact/{{ac.contact.id}}/">{{ac.contact.name}}</a>
			{% endfor %}
		</td>
	</tr>


</table>

{% if server.dom_0.count %}
<h2>DomU's</h2>
<ul>
{% for vm in server.dom_0.all %}
<li><a href="/server/{{vm.dom_u.id}}/">{{vm.dom_u.name}}</a></li>
{% endfor %}
</ul>
{% else %}
{% if server.virtual %}
{% if server.dom_u.count %}
{% else %}
<form action="associate_dom0/" method="post" class="form form-inline">
<label>associate with a dom0:
	<select name="dom0">
		{% for server in potential_dom0s %}
		<option value="{{server.id}}">{{server.name}}</option>
		{% endfor %}
	</select>
	<input type="submit" value="associate" class="btn btn-primary" />
</form>
{% endif %}
{% endif %}
{% endif %}


{% if server.ipaddress_set.count %}
<h2>Aliases</h2>

{% if not server.deprecated %}
{% if request.user.is_staff %}
{% if server.ipaddress_set.count %}

<a href="#addAlias" role="button" class="btn" data-toggle="modal">Add Alias for {{server.name}}</a>
 
	<form action="add_alias/" method="post">
		<div class="modal hide" id="addAlias" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add Alias for {{server.name}}</h3>
  </div>
  <div class="modal-body">
		<label>Hostname
		<input type="text" name="hostname" placeholder="hostname" /></label>
		{% ifequal server.ipaddress_set.count 1 %}
		{% else %}
		<label>IP Address
			<select name="ipaddress">
				{% for ipaddress in server.ipaddress_set.all %}
				<option value="{{ipaddress.id}}">{{ipaddress.ipv4}}</option>
				{% endfor %}
			</select>
		</label>
		{% endifequal %}
		<label>Description
		<textarea name="description" class="input-xxlarge"></textarea></label>
		<label>Primary Contact
			<input type="text" name="contact"
						 value="{{request.user.first_name}}" />
		</label>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Add Alias</button>
  </div>
</div>
	</form>

<a href="#requestAlias" role="button" class="btn" data-toggle="modal">Request new Alias for {{server.name}}</a>

	<form action="request_alias/" method="post">
		<div class="modal hide" id="requestAlias" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel1">Request New Alias for {{server.name}}</h3>
  </div>
  <div class="modal-body">
		<p class="info">This will send an email to hostmaster with the
		request. It may take a couple business days for the request to go
		through. Once it does, please come back and update the status of
		this alias from 'pending' to 'active'. </p>
			
		<label>Hostname
		<input type="text" name="hostname" placeholder="hostname" /></label>
		{% ifequal server.ipaddress_set.count 1 %}
		{% else %}
		<label>IP Address
			<select name="ipaddress">
				{% for ipaddress in server.ipaddress_set.all %}
				<option value="{{ipaddress.id}}">{{ipaddress.ipv4}}</option>
				{% endfor %}
			</select>
		</label>
		{% endifequal %}
		<label>Description
		<textarea name="description" class="input-xxlarge"></textarea></label>
		<label>Primary Contact
			<input type="text" name="contact"
						 value="{{request.user.first_name}}" />
		</label>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Request Alias</button>
  </div>
</div>
	</form>


{% else %}
<p>Can not add aliases for a server with no IP addresses listed</p>
{% endif %}
{% endif %}
{% endif %}

<table class="table table-striped table-condensed table-bordered">
	<thead>
		<tr>
			<th>alias</th>
			<th>description</th>
			<th>contacts</th>
		</tr>
	</thead>
		
	<tbody>

{% for ipaddress in server.ipaddress_set.all %}
{% for alias in ipaddress.alias_set.all %}
		<tr class="{{alias.status_css_class}}">
			<td><a href="/alias/{{alias.id}}/">{{alias.hostname}}</a></td>
			<td>{{alias.description}}</td>
			<td>
				{% for ac in alias.aliascontact_set.all %}
				<a href="/contact/{{ac.contact.id}}/">{{ac.contact.name}}</a>
				{% endfor %}
			</td>
		</tr>


{% endfor %}
{% endfor %}
</tbody>
</table>
{% endif %}

{% if server.graphite_name %}
<h2>Graphs</h2>

<ul class="nav nav-tabs">
  <li><a href="#daily" data-toggle="tab">Daily</a></li>
  <li><a href="#weekly" data-toggle="tab">Weekly</a></li>
  <li><a href="#monthly" data-toggle="tab">Monthly</a></li>
  <li><a href="#yearly" data-toggle="tab">Yearly</a></li>
</ul>

<div class="tab-content">
{% with hidegrid='false' %}
{% with bgcolor='FFFFFF' %}
{% with fgcolor='999999' %}
{% with width='1000' %}
{% with height='200' %}


  <div class="tab-pane active" id="daily">

<div id="loadavg24h"></div>

</div>
  <div class="tab-pane" id="weekly">
<h3>Load Avg (x10)</h3>
<img src="{{settings.GRAPHITE_BASE}}render/?width={{width}}&height={{height}}&_salt=1337976132.743&target=summarize(ccnmtl.server.{{server.graphite_name}}.cpu.load_average.1_minute,'1h')&hideGrid={{hidegrid}}&hideLegend=true&bgcolor={{bgcolor}}&fgcolor={{fgcolor}}&from=-7days" width="{{width}}" height="{{height}}"/>
<h3>Free Memory (%)</h3>
<img src="{{settings.GRAPHITE_BASE}}render/?width={{width}}&height={{height}}&_salt=1337976132.743&target=ccnmtl.server.{{server.graphite_name}}.memory.MemFree.percent&hideGrid={{hidegrid}}&hideLegend=true&bgcolor={{bgcolor}}&fgcolor={{fgcolor}}&from=-7days&yMax=100&yMin=0" width="{{width}}" height="{{height}}"/>
<h3>Network Traffic</h3>
<img src="{{settings.GRAPHITE_BASE}}render/?width={{width}}&height={{height}}&_salt=1337976132.743&target=nonNegativeDerivative(ccnmtl.server.{{server.graphite_name}}.network.eth0.receive.byte_count)&target=nonNegativeDerivative(ccnmtl.server.{{server.graphite_name}}.network.eth0.transmit.byte_count)&hideGrid={{hidegrid}}&hideLegend=false&bgcolor={{bgcolor}}&fgcolor={{fgcolor}}&from=-7days" width="{{width}}" height="{{height}}"/>
<h3>Swap Activity</h3>
<img src="{{settings.GRAPHITE_BASE}}render/?width={{width}}&height={{height}}&_salt=1337976132.743&target=nonNegativeDerivative(ccnmtl.server.{{server.graphite_name}}.vmstat.swap.in)&target=nonNegativeDerivative(ccnmtl.server.{{server.graphite_name}}.vmstat.swap.out)&hideGrid={{hidegrid}}&hideLegend=false&bgcolor={{bgcolor}}&fgcolor={{fgcolor}}&from=-7days" width="{{width}}" height="{{height}}"/>

</div>
  <div class="tab-pane" id="monthly">
{% with summarize='6h' %}
<h3>Load Avg (x10)</h3>
<img src="{{settings.GRAPHITE_BASE}}render/?width={{width}}&height={{height}}&_salt=1337976132.743&target=summarize(ccnmtl.server.{{server.graphite_name}}.cpu.load_average.1_minute,'{{summarize}}')&hideGrid={{hidegrid}}&hideLegend=true&bgcolor={{bgcolor}}&fgcolor={{fgcolor}}&from=-1months" width="{{width}}" height="{{height}}"/>
<h3>Free Memory (%)</h3>
<img src="{{settings.GRAPHITE_BASE}}render/?width={{width}}&height={{height}}&_salt=1337976132.743&target=ccnmtl.server.{{server.graphite_name}}.memory.MemFree.percent&hideGrid={{hidegrid}}&hideLegend=true&bgcolor={{bgcolor}}&fgcolor={{fgcolor}}&from=-1months&yMax=100&yMin=0" width="{{width}}" height="{{height}}"/>
<h3>Network Traffic</h3>
<img src="{{settings.GRAPHITE_BASE}}render/?width={{width}}&height={{height}}&_salt=1337976132.743&target=summarize(nonNegativeDerivative(ccnmtl.server.{{server.graphite_name}}.network.eth0.receive.byte_count),'{{summarize}}')&target=summarize(nonNegativeDerivative(ccnmtl.server.{{server.graphite_name}}.network.eth0.transmit.byte_count),'{{summarize}}')&hideGrid={{hidegrid}}&hideLegend=false&bgcolor={{bgcolor}}&fgcolor={{fgcolor}}&from=-1months" width="{{width}}" height="{{height}}"/>
<h3>Swap Activity</h3>
<img src="{{settings.GRAPHITE_BASE}}render/?width={{width}}&height={{height}}&_salt=1337976132.743&target=summarize(nonNegativeDerivative(ccnmtl.server.{{server.graphite_name}}.vmstat.swap.in),'{{summarize}}')&target=summarize(nonNegativeDerivative(ccnmtl.server.{{server.graphite_name}}.vmstat.swap.out),'{{summarize}}')&hideGrid={{hidegrid}}&hideLegend=false&bgcolor={{bgcolor}}&fgcolor={{fgcolor}}&from=-1months" width="{{width}}" height="{{height}}"/>
{% endwith %}

</div>
  <div class="tab-pane" id="yearly">

{% with period='-1years' %}
{% with summarize='1d' %}
<h3>Load Avg (x10)</h3>
<img src="{{settings.GRAPHITE_BASE}}render/?width={{width}}&height={{height}}&_salt=1337976132.743&target=summarize(ccnmtl.server.{{server.graphite_name}}.cpu.load_average.1_minute,'{{summarize}}')&hideGrid={{hidegrid}}&hideLegend=true&bgcolor={{bgcolor}}&fgcolor={{fgcolor}}&from={{period}}" width="{{width}}" height="{{height}}"/>
<h3>Free Memory (%)</h3>
<img src="{{settings.GRAPHITE_BASE}}render/?width={{width}}&height={{height}}&_salt=1337976132.743&target=ccnmtl.server.{{server.graphite_name}}.memory.MemFree.percent&hideGrid={{hidegrid}}&hideLegend=true&bgcolor={{bgcolor}}&fgcolor={{fgcolor}}&from={{period}}&yMax=100&yMin=0" width="{{width}}" height="{{height}}"/>
<h3>Network Traffic</h3>
<img src="{{settings.GRAPHITE_BASE}}render/?width={{width}}&height={{height}}&_salt=1337976132.743&target=summarize(nonNegativeDerivative(ccnmtl.server.{{server.graphite_name}}.network.eth0.receive.byte_count),'{{summarize}}')&target=summarize(nonNegativeDerivative(ccnmtl.server.{{server.graphite_name}}.network.eth0.transmit.byte_count),'{{summarize}}')&hideGrid={{hidegrid}}&hideLegend=false&bgcolor={{bgcolor}}&fgcolor={{fgcolor}}&from={{period}}" width="{{width}}" height="{{height}}"/>
<h3>Swap Activity</h3>
<img src="{{settings.GRAPHITE_BASE}}render/?width={{width}}&height={{height}}&_salt=1337976132.743&target=summarize(nonNegativeDerivative(ccnmtl.server.{{server.graphite_name}}.vmstat.swap.in),'{{summarize}}')&target=summarize(nonNegativeDerivative(ccnmtl.server.{{server.graphite_name}}.vmstat.swap.out),'{{summarize}}')&hideGrid={{hidegrid}}&hideLegend=false&bgcolor={{bgcolor}}&fgcolor={{fgcolor}}&from={{period}}" width="{{width}}" height="{{height}}"/>
{% endwith %}
{% endwith %}

</div>

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
</div>
{% endif %}


{% endblock %}

{% block js %}
<script src="/site_media/js/d3.v2.min.js"></script>
<script src="/site_media/js/cubism.v1.min.js"></script>
<script>

var context = cubism.context(), // a default context
    graphite = context.graphite("");


context.size(1000).step(1e5);

var loadavg = graphite.metric("ccnmtl.server.{{server.graphite_name}}.cpu.load_average.1_minute").alias("Load Avg");
var memory = graphite.metric("ccnmtl.server.{{server.graphite_name}}.memory.MemFree.percent").alias("Free Mem");
var network_in = graphite.metric("nonNegativeDerivative(ccnmtl.server.{{server.graphite_name}}.network.eth0.receive.byte_count)").alias("Eth0 in");
var network_out = graphite.metric("nonNegativeDerivative(ccnmtl.server.{{server.graphite_name}}.network.eth0.transmit.byte_count)").alias("Eth0 in");
var swap_in = graphite.metric("nonNegativeDerivative(ccnmtl.server.{{server.graphite_name}}.vmstat.swap.in)").alias("Swap in");
var swap_out = graphite.metric("nonNegativeDerivative(ccnmtl.server.{{server.graphite_name}}.vmstat.swap.out)").alias("Swap out");


d3.select("#loadavg24h").call(function(div) {
  div.append("div")
      .attr("class", "axis")
      .call(context.axis().orient("top"));

  div.selectAll(".horizon")
      .data([loadavg,memory,network_in.add(network_out),swap_in.add(swap_out)])
    .enter().append("div")
      .attr("class", "horizon")
      
      .call(context.horizon()
        .colors(["#08519c", "#*82bd", "#6baed6", "#fee6ce", "#fdae6b", "#e6550d" ])
        .height(100));
});

</script>

{% endblock %}

