{% extends 'base.html' %}

{% block content %}

<a id="servers"></a><h1>Servers</h1>
{% if request.user.is_staff %}
    <p><a href="/add_server/" class="btn btn-primary" role="button">Add Server</a></p>
{% endif %}

<table class="table table-striped table-condensed table-bordered">
    <thead>
        <tr>
            <th>name</th>
            <th>primary function</th>
            <th>location</th>
            <th>contacts</th>
        </tr>
    </thead>
    <tbody>
        {% for server in servers %}
        <tr>
            <td><a href="/server/{{server.id}}/">{{ server.name }}</a></td>
            <td>{{ server.primary_function }}</td>
            <td>
                  {% if server.virtual %}
              Virtual
                  {% else %}
                      {{ server.location }}
                  {% endif %}
            </td>
            <td>
                  {% for contact in server.contacts %}
                      <a href="/contact/{{contact.id}}/">{{contact.name}}</a>
                  {% endfor %}
            </td>

        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}
