{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailuserbar %}
{% block css %}
<link href="{{STATIC_URL}}css/portfolio.css" rel="stylesheet">
{% endblock %}

{% block content %}
    {% wagtailuserbar %}


    <form action="{% url 'portfolio-search' %}" method="get" class="form form-inline">
        <input type="text" name="query" value="{{ search_query }}" class="form-control">
        <input type="submit" value="Search Portfolio" class="btn btn-primary">
    </form>

    
    <h1 class="site-banner">{{page.title}}</h1>
	
	<p>{{page.search_description}}</p>


    {% if page.entries %}
        {% for entry in page.entries %}
            <div class="entry">
                <div class="row">
                    <div class="col-md-8">
                        <a href="{% pageurl entry %}"><strong>{{entry.title}}</strong></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        {% if entry.thumb %}    
                            {% image entry.thumb width-130 %}
                            <br />
                        {% endif %}
                        <strong>Access:</strong> {{entry.access}}<br />
                        <strong>Released:</strong> {{entry.orig_release}}<br />
                    </div>

                    <div class="col-md-5">
                        <b>Partner: {{entry.partner}}</b><br />
                        {{entry.body|richtext|truncatewords_html:50}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a href="{{entry.site_url}}">
                            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                            VIEW PROJECT</a>
                    </div>
                    <div class="col-md-5">
                        <a href="{% pageurl entry %}">
                            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                            MORE ABOUT THIS PROJECT</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    
{% endblock %}
