{% extends 'base.html' %}

{% block content %}
{% with graphite_base="https://graphite.ctl.columbia.edu/render/?" width=900 height=200 %}
{% with common_opts="graphOnly=false&hideGrid=true&hideLegend=true" %}
{% with windlogin_success="target=stats.app.counters.*.djangowind.windlogin.success" %}
{% with local_attempts="target=stats.app.counters.*.djangowind.login.called" %}
{% with local_success="target=stats.app.counters.*.djangowind.login_succeeded" %}
{% with local_failure="target=stats.app.counters.*.djangowind.login.invalid_form" %}
{% with logouts="target=stats.app.counters.*.djangowind.logout" %}

{% with windlogin_auth_failure="target=stats.app.counters.*.djangowind.windlogin.auth_failure" %}
{% with windlogin_no_ticketid="target=stats.app.counters.*.djangowind.windlogin.no_ticketid" %}

{% with create_user="target=stats.app.counters.*.djangowind.windauthbackend.create_user" %}
{% with ldap_lookup="target=stats.app.counters.*.djangowind.ldap_lookup" %}

{% with windlocal_ratio="target=alias(summarize(sumSeries(stats.app.counters.*.djangowind.login_succeeded),'1h'),'local')&target=alias(summarize(sumSeries(stats.app.counters.*.djangowind.windlogin.success),'1h'),'WIND')" %}
{% with stacked_opts="areaMode=stacked&lineMode=staircase&hideGrid=true" %}

{% with fail_ratio="target=alias(color(summarize(sumSeries(stats.app.counters.*.djangowind.login.valid_form),'1h'),'green'),'Success')&target=alias(color(summarize(sumSeries(stats.app.counters.*.djangowind.login.invalid_form),'1h'),'red'),'Fail')" %}


<ul class="nav nav-tabs">
  <li class="active"><a href="#day" data-toggle="tab">Last 24 Hours</a></li>
  <li><a href="#week" data-toggle="tab">Week</a></li>
  <li><a href="#month" data-toggle="tab">Month</a></li>
  <li><a href="#year" data-toggle="tab">Year</a></li>
</ul>

<div id="tabs" class="tab-content">
<div id="day" class="tab-pane active">

{% with from="-24hours" %}

<h2>WIND to local ratio</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlocal_ratio}}
&{{stacked_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Successful WIND Logins</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlogin_success}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">


<h2>Local login success/fail ratio</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{fail_ratio}}
&{{stacked_opts}}
&from={{from}}
{% endspaceless %}">


<h2>Local Login Attempts</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{local_attempts}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Successful Local Logins</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{local_success}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Local Login Failures</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{local_failure}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Logouts</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{logouts}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>WIND Auth Failures</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlogin_auth_failure}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>WIND No Ticketid</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlogin_no_ticketid}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Users Created</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlogin_no_ticketid}}
&{{ldap_lookup}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>LDAP Lookups</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlogin_no_ticketid}}
&{{ldap_lookup}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

{% endwith %}
</div>



<div id="week" class="tab-pane">
{% with from="-7days" %}

<h2>WIND to local ratio</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlocal_ratio}}
&{{stacked_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Successful WIND Logins</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlogin_success}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Local login success/fail ratio</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{fail_ratio}}
&{{stacked_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Local Login Attempts</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{local_attempts}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Successful Local Logins</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{local_success}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Local Login Failures</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{local_failure}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Logouts</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{logouts}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>WIND Auth Failures</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlogin_auth_failure}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>WIND No Ticketid</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlogin_no_ticketid}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Users Created</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlogin_no_ticketid}}
&{{ldap_lookup}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>LDAP Lookups</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlogin_no_ticketid}}
&{{ldap_lookup}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

{% endwith %}
</div>


<div id="month" class="tab-pane">
{% with from="-1months" %}
<h2>WIND to local ratio</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlocal_ratio}}
&{{stacked_opts}}
&from={{from}}
{% endspaceless %}">


<h2>Successful WIND Logins</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlogin_success}}
&{{common_opts}}
&from={{from}}
p{% endspaceless %}">

<h2>Local login success/fail ratio</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{fail_ratio}}
&{{stacked_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Local Login Attempts</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{local_attempts}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Successful Local Logins</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{local_success}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Local Login Failures</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{local_failure}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Logouts</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{logouts}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>WIND Auth Failures</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlogin_auth_failure}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>WIND No Ticketid</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlogin_no_ticketid}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Users Created</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlogin_no_ticketid}}
&{{ldap_lookup}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>LDAP Lookups</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlogin_no_ticketid}}
&{{ldap_lookup}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

{% endwith %}
</div>


<div id="year" class="tab-pane">
{% with from="-1years" %}

<h2>WIND to local ratio</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlocal_ratio}}
&{{stacked_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Successful WIND Logins</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlogin_success}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Local login success/fail ratio</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{fail_ratio}}
&{{stacked_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Local Login Attempts</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{local_attempts}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Successful Local Logins</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{local_success}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Local Login Failures</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{local_failure}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Logouts</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{logouts}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>WIND Auth Failures</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlogin_auth_failure}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>WIND No Ticketid</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlogin_no_ticketid}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>Users Created</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlogin_no_ticketid}}
&{{ldap_lookup}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

<h2>LDAP Lookups</h2>

<img width="{{width}}" height="{{height}}" src="{% spaceless %}
{{graphite_base}}
width={{width}}
&height={{height}}
&_salt=1337976132.743
&{{windlogin_no_ticketid}}
&{{ldap_lookup}}
&{{common_opts}}
&from={{from}}
{% endspaceless %}">

{% endwith %}
</div>
</div>
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endblock %}
