{% extends 'base.html' %}

{% block content %}

<h2>Disk/Inodes Available (%)</h2>
{% with graphite_base="https://graphite.ctl.columbia.edu/render/" %}
{% with width=900 height=200 %}
{% with from="-24hours" %}

{% for server in object_list %}
{% if server.graphite_name %}
<h3><a href="{% url 'server-detail' server.id %}">{{server.name}}</a></h3>

{% with metric_base="server."|add:server.graphite_name %}

{% with ymax="&yMax=100.0" ymin="&yMin=0.0" %}
{% with metric="asPercent("|add:metric_base|add:".disk.usage.available,"|add:metric_base|add:".disk.usage.total)&target=scale(offset(asPercent("|add:metric_base|add:".disk.inode.used,"|add:metric_base|add:".disk.inode.total),-100),-1)" %}

{% include "main/graphite_graph.html" %}

{% endwith %}
{% endwith %}
{% endwith %}
{% endif %}
{% endfor %}
{% endwith %}
{% endwith %}
{% endwith %}

{% endblock %}
