{% extends 'base.html' %}

{% block content %}
<h2>90th percentile response times (seconds)</h2>
{% with graphite_base="https://graphite.ctl.columbia.edu/render/" %}
{% with width=900 height=200 %}
{% with from="-24hours" %}

{% for application in object_list %}
    {% if application.graphite_name and not application.deprecated %}
<h3><a href="{% url 'application-detail' application.id %}">{{application.name}}</a></h3>

{% with metric_base="stats.app.timers.nginx."|add:application.graphite_name %}
{% with metric=metric_base|add:".request_time.upper_90" %}
{% include "main/graphite_graph.html" %}
{% endwith %}
{% endwith %}
{% endif %}
{% endfor %}
{% endwith %}
{% endwith %}
{% endwith %}

{% endblock %}
