{% extends 'base.html' %}

{% block content %}

<h2>Total traffic (requests per minute)</h2>
{% with graphite_base="https://graphite.ctl.columbia.edu/render/" %}
{% with width=900 height=200 %}
{% with from="-24hours" %}

{% for application in object_list %}
    {% if application.graphite_name and not application.deprecated %}
<h3><a href="{% url 'application-detail' application.id %}">{{application.name}}</a></h3>

{% with metric_base="stats.app.counters.nginx."|add:application.graphite_name %}
{% with metric="sumSeries("|add:metric_base|add:".status.*.count)" %}
{% include "main/graphite_graph.html" %}
{% endwith %}
{% endwith %}
{% endif %}
{% endfor %}
{% endwith %}
{% endwith %}
{% endwith %}

{% endblock %}
